.container {
  width: 375px;
  padding: 0 1rem;
  margin: auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    h3 {
      font-size: 26px;
      font-weight: 700;
      padding: 1.5rem 0;
    }
    a {
      font-size: 24px;
    }
  }
}
